html {
	font-size: 14px;
}
body {
	font-family: "Microsoft Yahei", Helvetica, sans-serif, Arial, sans-serif, monospace;
}

@white: #FFF;
@gray-1: #EEE;
@gray-2: #DDD;
@gray-3: #CCC;
@dark-1: rgba(255, 255, 255, .1);
@dark-2: rgba(255, 255, 255, .2);
@dark-3: rgba(255, 255, 255, .3);
@dark-4: rgba(255, 255, 255, .4);
@dark-5: rgba(255, 255, 255, .5);
@black: #000;

@metric-panel-bgcolor: #fdfdfd;

@menu-bg: #333744;
@group-active: #00C1DE;
@group-bg: #42485B;
@group-border: #5E626F;

@load-icon: 300px;
@menu-width: 226px;

@logo-vertical: 15px;
@logo-horizontal: 20px;
@base: 10px;

.border (@width: 1px, @style: solid, @color: @dark-5) {
	border: @arguments;
}
.default-group-arrow (@width: 4px, @style: solid, @color: transparent) {
	border-top: @arguments;
	border-bottom: @arguments;
	border-left: @width @style;
}
.expanded-group-arrow (@width: 4px, @style: solid, @color: transparent) {
	border-top: @width @style;
	border-left: @arguments;
	border-right: @arguments;
}
.select-item-arrow (@width: 6px, @style: solid, @color: transparent) {
	border-top: @arguments;
	border-bottom: @arguments;
	border-right: @width @style @white;
}

.timepicker (@width: 6px, @style: solid, @color: transparent) {
	border-bottom: @width @style @white;
	border-left: @arguments;
	border-right: @arguments; 
}
.time-picker {
	input.display-time {
		cursor: pointer;
	}
}

.dropdown-toggle::after {
	display: none;
}
.load-icon {
	width: @load-icon;
	position: fixed;
	left: 50%;
	top: @load-icon;
	margin-left: -@load-icon / 2;
	opacity: .5;
	animation: loading 3s linear infinite;
}

@keyframes loading {
	25% {
		opacity: .95;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .95;
	}
}

@keyframes illegal {
	from {
		color: @gray-2;
		opacity: .5;
	}
	to {
		color: @white;
		opacity: 1;
	}
}
