@import './var.less';

html {
	// font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.load-icon {
	width: @load-icon;
	position: fixed;
	left: 50%;
	top: @load-icon;
	margin-left: -@load-icon / 2;
	margin-top: -@load-icon / 2;
	opacity: .5;
	animation: loading 3s linear infinite;
}

@keyframes loading {
	25% {
		opacity: .95;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .95;
	}
}

@keyframes illegal {
	from {
		color: @gray-2;
		opacity: .5;
	}
	to {
		color: @white;
		opacity: 1;
	}
}
